.bodyuno{background-color: #E5E5E5; font-family: Open Sans !important; width:90%; margin: auto; box-sizing: border-box}
.ejemploi{font-family: 'Open Sans', sans-serif;font-weight: 700}.texttrabajo{color:#323068; text-align: center}
.header{width: 100%;margin: auto; border:1px solid black; height: auto}